HW_6.1/data/pgdata/
HW_6/data/pgdata/
HW_6.2/*
HW_7/proj_dep/pd_app/pd_app/__pycache__/
HW_7/proj_dep/pd_app/pd_app/__pycache__/*
HW_7/proj_dep/pd_app/projects/__pycache__/
HW_7/proj_dep/pd_app/projects/__pycache__/*
HW_7/proj_dep/pd_app/projects/migrations/__pycache__/
HW_7/proj_dep/pd_app/projects/migrations/__pycache__/*
*__pycache__/
HW_7/data/pgdata/
HW_8/.idea/
HW_8/proj_dep/db.sqlite3
HW_8/proj_dep/media/staff/profiles/cv.txt
HW_8/proj_dep/media/staff/snake1.jpg
HW_8/proj_dep/media/staff/staff_1_l1YrM77.jpg
HW_8/proj_dep/media/staff/staff_2_zAh7YtA.jpg
HW_8/proj_dep/media/staff/staff_3_0eozRBq.jpg
HW_9/.idea/
HW_9/proj_dep/db.sqlite3
