{% extends 'base.html' %}

{% block title %}
Employee's num.: {{ employee_id }}
{% endblock %}

{% block body %}
<div class="alert-danger" role="alert">
    Attention! Personal data. Only for official use!
</div>
<h3>Name: <code id="staff-name">{{ staff_name }}</code></h3>
<h3>Role: <code>{{ staff_role }}</code></h3>

<hr>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
  Fair
</button>

{% endblock %}



{% block after_body %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make decision</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          A you sure to fair <code id="staff-name">{{ staff_name }}</code>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, let's work</button>
        <button id="fair-staff" type="button" class="btn btn-danger">Yes, fair</button>

          <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
$(function() {
    const name = $('#staff-name')
    console.log(name.text())

    $('#fair-staff').click(function () {
        $.ajax({
            method: 'DELETE',
            success: function (res) {
                console.log(res)
                console.log(res.data)
            },
            error: function (err) {
                console.error(err)
            },
            complete: function () {
                window.location = "{{ url_for('employee_app.employee_list') }}"
            }
        })
    })
});
</script>

{% endblock %}